* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: Lato;
}
main {  
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "box1 box2" 
  "box3 box3";
  /* justify-items: flex-start; */
}
.box1{
  /* align-self: center;
  justify-self: center; */
  grid-area : box1;
  background: #FF3359;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2{
  grid-area : box2;
  background: #02A7F9;
}
.box3{
  grid-area : box3;
  background: #FFD400;
}

.gallery {
  display: grid;
  /* make grid responsive */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img{
  width: 100%;
}